.heroWrapper {
  position: relative;
}

.heroImageWrapper {
  height: 100vh;
  position: relative;
}

.heroImage {
  object-fit: cover;
  object-position: center 15%;
}

.logo {
  width: 15rem;
  position: absolute;
  bottom: 0;
  right: 0;
}
