.transparentSection {
  background-color: transparent !important;
}

.heroWrapper {
  position: relative;
}

.heroImageWrapper {
  height: 100vh;
  position: relative;
}

.heroImage {
  object-fit: cover;
  object-position: center 15%;
}

.logo {
  width: 30rem;
  position: absolute;
  bottom: -12rem;
  transform: translate(-50%, -50%);
  left: 50%;
}
