.transparentSection {
  background-color: transparent !important;
}

.heroWrapper {
  position: relative;
}

.heroImageWrapper {
  height: 100vh;
  position: relative;
}

.heroImageWrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
  pointer-events: none;
}

.heroImage {
  object-fit: cover;
  object-position: center 15%;
}

.heroVideo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center 15%;
}


.heroText {
  position: absolute;
  font-family: "Playfair", serif;
  font-weight: 200;
  font-size: 2.5rem;
  line-height: 1.2;
  text-align: center;
  bottom: -1rem;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  text-transform: uppercase;
}

.heroTitle {
  margin-bottom: 0;
  font-weight: 200;
}

.heroSubtitle {
  margin-top: 0;
  font-weight: 200;
}


.cta {
  border: none;
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: white;
  font-size: 1rem;
  text-align: center;
  position: absolute;
  top: 0;
  right: 0;
  margin: 1rem;
  z-index: 3;
  border-radius: 0.5rem;
  background-color: black;
  transition: background-color 0.3s ease, border-color 0.3s ease, transform 0.3s ease;
  cursor: pointer;
}

.cta:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border-color: rgba(255, 255, 255, 0.8);
  transform: translateY(-2px);
}

@media (width < 640px) {
  .logo {
    width: 30rem;
    height: 21.56rem;
    bottom: -16rem;
  }
}

@media (width < 480px) {
  .logo {
    width: 21.5rem;
    height: 15.31rem;
    bottom: -10rem;
  }
}
