.footerContent {
  display: flex;
  align-items: center;
  width: 100%;
  padding-bottom: 1rem;
}

.spacer {
  flex: 1;
  padding-left: 3rem;
  width: 100%;
  height: 100%;
}

.copyright {
  flex: 1;
  text-align: center;
}

.madeBy {
  padding-right: 3rem;
  flex: 1;
  text-align: right;
}

.madeBy p a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease, text-decoration 0.3s ease, opacity 0.3s ease;
}

.madeBy p a:hover {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: underline;
  opacity: 0.9;
}

@media (width < 1196px) {
  .footerContent {
    justify-content: space-between;
  }
  .spacer {
    display: none;
  }
  .copyright {
    padding-left: 3rem;
    flex: unset;
    text-align: left;
  }
  .madeBy {
    flex: unset;
    text-align: right;
  }
}

@media (width <770px) {
  .footerContent {
    flex-direction: column;
    gap: 2px;
  }
  .madeBy,
  .copyright {
    padding: 0;
  }
}

@media (width < 480px) {
  .madeBy,
  .copyright {
    font-size: 14px;
  }
}
