.footerContact {
  padding: 0 0 3rem 5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 1.2rem;
  justify-content: center;
}

.footerContact span {
  display: flex;
  gap: 0.5rem;
  font-size: 1.3rem;
}

.footerContact span a {
    text-decoration: none;
  color: white;
}

.footerContact span img {
  display: block;
  filter: brightness(0) invert(1);
  align-self: center;
  height: 30px;
  width: 30px;
}

.footerContent {
  display: flex;
  align-items: center;
  width: 100%;
  padding-bottom: max(1rem, env(safe-area-inset-bottom));
}

.spacer {
  flex: 1;
  padding-left: 3rem;
  width: 100%;
  height: 100%;
}

.copyright {
  flex: 1;
  text-align: center;
}

.madeBy {
  padding-right: 3rem;
  flex: 1;
  text-align: right;
}

.madeBy p a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease, text-decoration 0.3s ease, opacity 0.3s ease;
}

.madeBy p a:hover {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: underline;
  opacity: 0.9;
}

@media (width < 1196px) {
  .footerContent {
    justify-content: space-between;
  }
  .spacer {
    display: none;
  }
  .copyright {
    padding-left: 3rem;
    flex: unset;
    text-align: left;
  }
  .madeBy {
    flex: unset;
    text-align: right;
  }
}

@media (width <770px) {
  .footerContent {
    flex-direction: column;
    gap: 2px;
  }
  .madeBy,
  .copyright {
    padding: 0;
  }
}

@media (width < 480px) {
  .madeBy,
  .copyright {
    font-size: 14px;
  }
}
