.footerContent {
  display: flex;
  align-items: center;
  width: 100%;
  padding-bottom: 1rem;
}

.spacer {
  flex: 1;
  padding-left: 3rem;
  width: 100%;
  height: 100%;
}

.copyright {
  flex: 1;
  text-align: center;
}

.madeBy {
  padding-right: 3rem;
  flex: 1;
  text-align: right;
}

.madeBy p a {
  color: white;
  text-decoration: none;
}

@media (width < 1196px) {
  .footerContent {
    justify-content: space-between;
  }
  .spacer {
    display: none;
  }
  .copyright {
    padding-left: 3rem;
    flex: unset;
    text-align: left;
  }
  .madeBy {
    flex: unset;
    text-align: right;
  }
}

@media (width <770px) {
  .footerContent {
    flex-direction: column;
    gap: 2px;
    /* justify-content: center;
    align-items: center; */
  }
  .copyright {
    padding-left: 0;
  }
}
