.iconsWrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding-top: 3rem;
}

.icons {
  width: 2rem;
  height: 2rem;
}

.iconLink {
  display: inline-block;
  transition: transform 0.3s ease, opacity 0.3s ease;
  cursor: pointer;
}

.iconLink:hover {
  transform: scale(1.2);
  opacity: 0.8;
}

.transparentSection {
  background-color: transparent !important;
}

.videoSection {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding-top: 3rem;
}
