.iconsWrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding-top: 3rem;
}

.icons {
  width: 2rem;
  height: 2rem;
}

.transparentSection {
  background-color: transparent !important;
}

.videoSection {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding-top: 3rem;
}
