/* Box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
}

/* Base document */
html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

/* Improve text rendering */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
/*   font-family: "Montserrat", sans-serif; */
  font-family: "Nunito Sans", sans-serif;
  background-color: black;
  color: white;
  min-height: 100vh;
  width: 100%;
  position: relative;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: url("/images/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: grayscale(100%) brightness(1.2) contrast(0.95);
  z-index: -1;
}

body::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.2) 0%,
    rgba(0, 0, 0, 0.25) 50%,
    rgba(0, 0, 0, 0.22) 100%
  );
  z-index: -1;
}

/* Media elements */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* Form elements */
input,
button,
textarea,
select {
  font: inherit;
}

h2 {
  font-size: 3rem;
  text-transform: uppercase;
  text-align: center;
  font-weight: lighter;
}
