.block {
  margin-bottom: 2.5rem;
  text-align: center;
}

.subtitle {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
  text-align: center;
}

.text {
  margin-bottom: 1rem;
  text-align: center;
  max-width: 100%;
}

.list {
  list-style-position: inside;
  text-align: center;
  margin-bottom: 1rem;
  padding-left: 0;
}

.list li {
  margin-bottom: 0.5rem;
}

.ctaWrapper {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.cta {
  display: inline-block;
  color: white;
  text-decoration: none;
}
